*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    font-size: 1rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav a{
    text-decoration: none;
    padding: 2vw 2vw;
    color: black;
    font-size: 1.1rem;
    gap: 2vw;
}
.nav img {
    display: flex;
    width: 5%;
}
/* nav bar complt */
.center{
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: aqua;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1609788063095-d71bf3c1f01f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background: cover;
    
}
.right{
    padding: 2vw;
    display: flex;
    align-items: center;
}
.right h2{
    color: whitesmoke;
    
}
.right h5{
    color: crimson;
    font-weight: 500;
    font-size: 1.6rem;
}
.right span{
    color: blueviolet;
    font-weight: 900;
}
.secound{
    padding-left: 10vw;
    align-items: end;
}
.tents{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 8vh;
   margin-left: 12%;
    padding-top: 8vh;
}
.our{
    width: 100vw;
    display: flex;
}
.one {
    width: 70vw;
    display: flex;
    gap: 1vw;
    height: 100vh;
    position: relative;
    
}
.one img{
    height: 36vh;
    width: 27vw;
    margin-left: 4vw;
    border-radius: 20px;
    margin-top: 5vh;
}
.demo{
    align-items: center;
    position: absolute;
    left: 0;
    top: 50vh;
}
.demo h3{
    color: crimson;
    font-weight: 800;
    padding-left: 5vw;
}
.demo h4{
    padding-left: 5vw;
    color: black;
    font-weight: 500;
}
.demo p{
    padding-left: 5vw;
    font-size: 1rem;
    border-radius: 20px;
    padding-right: 6vw;

}
.two{
    width: 30vw;
    height: 100vh;
    background-color: teal;
    margin-top: 2vh;
}
.two h3{
    color: black;
    font-size: 2rem;
    padding: 1vw 1vw;
    text-decoration: underline;

}
.two p {
    padding: .9vw .8vw;
    font-size: 1rem;
    color: white;
    line-break: auto;
}
.review{
    width: 100vw;
    height: 50vh;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.review h3{
    text-align: center;
    font-size: 1.4rem;
    padding: 2vw 2vw;
    color: crimson;
    text-decoration: underline;
}
.review img{
    width: 20vw;
   height: 20vh;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;

}